node_modules
dist
.vercel
.env
.env.local
.env.*.local
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.env
frontend/.env
frontend/.env.local
frontend/.env.*.local
Desktop/Data_Auto/
